.two-block-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 80% !important;
}

.name {
  font-weight: normal!important;
}

.info {
  font-size: 1.7em;
  color: #aaa;
}

.bio {
  color: #666;
}





/* Mobile styles
 *============================================================================*/

@media (max-width: 900px)  {
  .info {
    font-size: 20px;
  }
}
