.contact-us-photo {
  width: 800px;
}

.contact-us {
  display: flex;
}

.contact-us-left {
  position: sticky;
  top: 100px;
}
.main {
  height: 200px;
  border-bottom: 3px solid #323037;
  margin-top: 65px;
}
