section {
  margin-top: 65px;
}

.research-author {
  font-size: 24px;
  color: #a2a2a2;
}

.research-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.wrapper {
  padding: 20px;
}

.research-description {
  font-size: 20px;
}

.button-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.research-btn {
  background: white;
  color: #868686;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #868686;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all .4s ease-in-out;
  position: relative;
  &:hover {
    background: #868686;
    color: white;
  }
}




/* Mobile Styles
 *============================================================================*/
@media (max-width: 900px)  {
  h1 {
    font-size: 30px;
  }
  .wrapper {
    padding: 0;
    margin-top: 20px;
  }
  .research-btn {
    font-size: 18px;
    padding: 5px 10px;
  }
}
