.research-author {
  font-size: 24px;
  color: #a2a2a2;
}

.research-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.wrapper {
  padding: 20px;
}

.research-description {
  font-size: 20px;
}
