<section>
    <div class="grid m-t-xl">
        <div class="col-12">
            <div class="col-12 ta-center">
                <h1>{{item.title}}</h1>
            </div>
            <div class="wrapper">
                <p class="research-author">{{item.author}}</p>
                <div class="research-image m-y-m" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
                <scully-content class="m-y-s"></scully-content>
                <div class="button-wrapper flex jc-end">
                    <a routerLink="/researches" class="research-btn">Other Researches</a>
                </div>
            </div>
        </div>
    </div>
</section>
