.news-author {
  font-size: 24px;
  color: #a2a2a2;
}

.news-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-description {
  flex: 1;
  font-size: 20px;
  margin-bottom: 50px;
}

.news-btn {
  background: white;
  color: #868686;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #868686;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all .4s ease-in-out;
  position: relative;
  &:hover {
    background: #868686;
    color: white;
  }
}


.news-button-wrapper {
  margin-top: auto;
}

