<section class="m-y-xl images-block">
    <div class="grid p-y-xl jc-around">
        <div class="col-12 ta-center" *ngIf="data.title || data.subTitle">
            <h1 *ngIf="data.title">{{data.title}}</h1>
            <h4 *ngIf="data.subTitle" class="info m-t-m m-b-l">{{data.subTitle}}</h4>
        </div>
        <div class="col-5 col-s-12 ta-center flex jc-center" *ngFor="let item of news$ | async">
            <a [routerLink]="item.route" class="card">
                <div class="img-wrapper" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
                <div class="news-info ta-left">
                    <h5 class="news-title">{{item.title}}</h5>
                    <div class="flex jc-between ai-center">
                        <p class="news-author m-y-s">{{item.author}}</p>
                        <p class="date">{{item.date}}</p>
                    </div>
                    <p class="news-description" [innerHTML]="item.description | text"></p>
                    <a [routerLink]="item.route" class="news-btn">Read More</a>
                </div>
            </a>
        </div>
    </div>
</section>
