.images-block {
  background: #f6f6f6;
  &-image {
    height: 400px;
  }
}

.wrapper {
  width: 100%;
  transition: all .3s ease-in-out;
}


.content-wrapper {
  box-shadow: 0px 0.0375em 0.125em 0px;
}

.wrapper:hover {
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}





/* Mobile styles
 *============================================================================*/


