<div class="landing ">
    <div class="landing-title">
        <h1>Landing</h1>
        <h4>EPIGENETICS OF PROTEIN GLYCOSYLATION BIOLOGICAL IMPORTANCE OF PROTEIN GLYCOSYLATION</h4>
    </div>
</div>
<section class="two-block-text m-y-l">
    <div class="grid ai-center">
        <div class="wrapper flex ai-start jc-around">
        <div class="col-5">
            <h1 class="name c-dark">Vlatka Zoldos</h1>
            <p class="info m-t-m">2000 PHD NATURAL SCIENCES, FACULTY OF SCIENCE UNIVERSITY OF ZAGREB AND UNIVERSITY PARIS-SUD XI, CNRS, ORSAY, FRANCE (DUAL MENTORSHIP) 1992 B.SC. IN BIOLOGY, FACULTY OF SCIENCE UNIVERSITY OF ZAGREB</p>
        </div>
        <div class="col-4">
            <p class="bio m-b-m">Vlatka Zoldoš, PhD, is a professor at the University of Zagreb Faculty of Science, Department for Biology, Division of Molecular Biology, where she introduced epigenetics as a research field as well as a course at the graduate study of Molecular Biology. She mentored over 15 graduate student, as well as over 10 PhD students.</p>
            <p class="bio m-t-m">She published over 50 scientific papers in international scientific journals with high impact factor, and is cited more than 1000 times. She is involved in several projects of large consortia funded by EU (from FP7 or Horizon2020 programs), several national projects, and her group is a part of Center of excellence in Personalized healthcare.</p>
        </div>
        </div>
    </div>
</section>

<section class="m-y-xl images-block">
    <div class="grid p-y-xl">
        <div class="col-12 ta-center">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h4 class="info m-t-m m-b-l">Duis aute irure dolor in reprehenderit in voluptate velit esse</h4>
        </div>
        <div class="col-5 ta-center">
            <img src="assets/icons/flask.svg" alt="" class="images-block-image">
        </div>
        <div class="col-5 ta-center">
            <img src="assets/icons/flask.svg" alt="" class="images-block-image">
        </div>
    </div>
</section>
<section class="research-image-block">
    <div class="grid">
        <div class="col-12 ta-center">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h4 class="info m-t-m m-b-l">Duis aute irure dolor in reprehenderit in voluptate velit esse</h4>
        </div>
        <div class="research-image-block-wrapper">
            <div class="research-image-block-text">
                <h5 class="research-image-block-title">BIOLOGICAL IMPORTANCE OF PROTEIN GLYCOSYLATION</h5>
                <p class="research-image-block-name m-y-s">VLATKA ZOLDOŠ</p>
                <p class="research-image-block-content">Most integral membrane and extracellular proteins are modified by covalent addition of complex oligosaccharides (glycans), which considerably affects protein structure and function</p>
            </div>
            <div class="research-image-block-image br-circle">
                <div class="research-image-block-bg"></div>
            </div>
        </div>
        <div class="research-image-block-wrapper">
            <div class="research-image-block-image br-circle">
                <div class="research-image-block-bg"></div>
            </div>
            <div class="research-image-block-left">
                <h5 class="research-image-block-title">BIOLOGICAL IMPORTANCE OF PROTEIN GLYCOSYLATION</h5>
                <p class="research-image-block-name m-y-s">VLATKA ZOLDOŠ</p>
                <p class="research-image-block-content">Most integral membrane and extracellular proteins are modified by covalent addition of complex oligosaccharides (glycans), which considerably affects protein structure and function</p>
            </div>
        </div>
    </div>
</section>



