.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../../assets/images/landing.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &-title {
    text-align: center;
    width: 60%;
    color: white;
    h1 {
      color: white;
    }
  }
}











