.landing {
  height: 100vh;
  margin-top: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../../assets/images/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &-title {
    text-align: center;
    width: 60%;
    color: black;
    h1 {
      color: black;
    }
  }
}











