.main {
  height: 200px;
  border-bottom: 3px solid #323037;
}


.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}
.gallery {
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
.gallery-image:hover {
  transform: scale(1.15);
}
.contact-us-photo {
  width: 800px;
}

.contact-us {
  display: flex;
}

.contact-us-left {
  position: sticky;
  top: 100px;
}



.members {
  max-width: 1200px;
  margin: auto;
  &-container {
    position: relative;
    height: 0;
    padding-bottom: calc(1335 / 2000 * 100%);
  }

  &-single {
    position: absolute;
    z-index: 1;
    height: 80%;
    top: 10%;
  }

  &-1 {
    left: 5%;
    width: 13%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 1); } }
  }
  &-2 {
    left: 18%;
    width: 9%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 2); } }
  }
  &-3 {
    left: 27%;
    width: 9%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 3); } }
  }
  &-4 {
    left: 36%;
    width: 8%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 4); } }
  }
  &-5 {
    left: 44%;
    width: 8%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 5); } }
  }
  &-6 {
    left: 52%;
    width: 6%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 6); } }
  }
  &-7 {
    left: 58%;
    width: 6%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 7); } }
  }
  &-8 {
    left: 64%;
    width: 8%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 8); } }
  }
  &-9 {
    left: 72%;
    width: 12%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 9); } }
  }
  &-10 {
    left: 84%;
    width: 14%;

    &:hover { ~ .members-images { background-position-y: calc(100% / 10 * 10); } }
  }

  &-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/members.jpg");
    background-size: 100% auto;
  }
}

p {
  text-decoration: underline;
}
