<div>
    <h1 class="m-a-s">RESEARCH</h1>
    <h3 class="m-a-s">Here you can read all of our research</h3>
</div>

<!--<section class="research-section m-a-l">-->
<!--    <div class="card">-->
<!--        <img class="image-cropper" src="/assets/images/landing.png" alt="landing" style="width:100%">-->
<!--        <div class="container col-6 m-l-xl">-->
<!--            <h2>Title</h2>-->
<!--            <h4><b>Author</b></h4>-->
<!--            <p>Lorem Ipsum doc sit</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <img class="image-cropper" src="/assets/images/landing.png" alt="landing" style="width:100%">-->
<!--        <div class="container col-6 m-l-xl">-->
<!--            <h2>Title</h2>-->
<!--            <h4><b>Author</b></h4>-->
<!--            <p>Lorem Ipsum doc sit</p>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->


<section class="research-image-block m-y-xl">
    <div class="grid jc-start">
        <div class="col-12 ta-center m-y-l">
            <h2 class="research-image-block-title">Research 1</h2>
            <p class="research-image-block-subtitle">Vlatka Zoldoš</p>
        </div>
        <div class="research-image-block-wrapper m-b-l">
            <div class="research-image-block-text">
                <h5 class="research-image-block-title">A Systems medicine approach to chronic inflammatory disease</h5>
                <p class="research-image-block-name m-y-s">Zoldoš group is involved in SYSCID project within the
                    Workpackage WP9 (led by HUNIMED) by epigenetic reprogamming to cis-regulatory regions (i.e.
                    pathogenic variants associated to CID, previously identified by partner Humanitas University, Milan,
                    Italy) using dCas9 fusions (with activator and repressor domains, and/or epigenetic reader/eraser
                    domains).</p>
                <p class="research-image-block-content">The main goal is to model the impact of the most relevant
                    pathogenic nucleotide variants
                    on the gene expression programs of myeloid cells and CD8 cells.</p>
            </div>
            <div class="research-image-block-image br-circle">
                <div class="research-image-block-bg">
                    <img src="assets/icons/flask.svg">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="research-post">
    <h2 class="m-a-l col-12 ta-center">A Systems medicine approach to chronic inflammatory disease</h2>
    <img src="/assets/images/landing.png">
    <p>
        A SYSCID consortium aims to develop a system medicine approach for disease prediction in chronic inflammatory
        diseases (CID). We will focus on three major CID indications with distinct characteristics, yet a large overlap
        of their molecular risk map: inflammatory bowel disease. systemic lupus erythematosus and rheumatoid arthritis.
        There are 15 partners from major cohorts and initiatives in Europe joined in this project (i.e. IHEC, ICGC,
        Twins UK and Meta-HIT) to investigate human dana sets on three major levels of resolution: whole blood
        signatures, signatures from purified immune cell types (with focus on CD14 and CD4/CD8) and selected single cell
        analyses. Principle data layers will comprise SNPs, methylome, transcriptome and gut microbiome. Using this set
        up we will focus on three fundamental aims: (i) the identification of shared and unique «core disease
        signatures, which are associated with the disease state and independent of temporal variation, (ii) the
        generation of «predictive models of disease outcome» – builds on previous work that pathways/biomarkers for
        disease outcome and distinct from initial disease risk may be shared across disease to guide therapy decisions
        on an individual patient basis, (iii) «reprogramming disease» – will identify and target temporarily stable
        epigenetic alterations in macrophages and lymphocytes in epigenome editing approaches as biological validation
        and potential novel therapeutic tools.
    </p>
    <p class="m-y-m">
        <b>Zoldoš group</b> is involved in SYSCID project within the Workpackage WP9 (led by HUNIMED) by epigenetic
        reprogamming to cis-regulatory regions (i.e. pathogenic variants associated to CID, previously identified by
        partner Humanitas University, Milan, Italy) using dCas9 fusions (with activator and repressor domains, and/or
        epigenetic reader/eraser domains). The main goal is to model the impact of the most relevant pathogenic
        nucleotide variants on the gene expression programs of myeloid cells and CD8 cells. We will infer the possible
        functional impact of corrective interventions selectively targeting the activity of the regulatory elements
        harbouring such variants. Using multiple targeting and orthogonal regulation (simultaneous activation and
        repression of genes in the same cell) will aim to enable precise pathway shaping.
    </p>
    <div class="specifications">
        <p><b>Type of funding scheme:</b> RIA; Coordination and support action; Support actions</p>
        <p class="m-y-s"><b>Work programme topics:</b> HEALTH Innovative and personalized medicine</p>
        <p><b>EU FP7 Call:</b> H2020-SCI1-2016-RTD</p>
        <p class="m-y-s"><b>Proposal number:</b> 733100</p>
        <p><b>Duration:</b> 60 months (1st January 2017 – 31st March 2022)</p>
        <p class="m-y-s"><b>Host institution:</b> Genos (third party Faculty of Science University of Zagreb)</p>
        <p><b>Coordinating person:</b> Professor Philip Rosenstiel, PhD, Christian-Albrechts-University Kiel with
            University Hospital Schleswig Holstein, Campus Kiel</p>
        <p class="m-y-s"><b>EU Funding to Genos and Faculty of Science:</b> 880,000.00 Eur</p>
        <p><b>Detailed information:</b> http://syscid.eu/home/</p>
    </div>
</section>

<div>
    <h1 class="m-a-s">LAB MEMBERS</h1>
    <h3 class="m-a-s">Meet our lab members</h3>
</div>
<section class="lab-members">
    <div class="lab-member-card">
        <img src="/assets/images/landing.png" alt="Vlatka Zoldoš" style="width:100%">
        <h1>Vlatka Zoldoš</h1>
        <p class="title">CEO & Founder</p>
        <p>Faculty of Science University of Zagreb</p>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Read More</button>
        </p>
    </div>
    <div class="lab-member-card">
        <img src="/assets/images/landing.png" alt="Aleksandar Vojta" style="width:100%">
        <h1>Aleksandar Vojta</h1>
        <p class="title">Assistant Professor</p>
        <p>Faculty of Science University of Zagreb</p>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Read More</button>
        </p>
    </div>
</section>
<div class="lab-member-bio m-a-l">
    <h1>Vlatka Zoldoš</h1>
    <p>Vlatka Zoldoš, PhD, is a full professor at the University of Zagreb Faculty of Science, and a principle
        investigator running a Laboratory for epigenetics at the Department of molecular biology. She completed her PhD
        at the University of Paris Sud XI in France in 2000 as a scholar of French government. She moved back to Croatia
        where she was elected as an assistant professor at the University of Zagreb Faculty of science in 2003. Her main
        research interest is epigenetics of protein glycosylation associated with human diseases. Her pioneering efforts
        in this field resulted in several prominent papers including the first demonstration of the epigenetic
        regulation of plasma protein and IgG glycosylation. She and her team were the first who have developed
        CRISPR/dCas9-based molecular tools for targeted DNA methylation/demethylation. She is involved in several large
        projects funded by EU foundations, and her group is a part of the Centre of Scientific Excellence in
        Personalized Healthcare and Centre of Competence in Molecular Diagnostics in Croatia. She is teaching Genetics,
        Epigenetics and Molecular Cytogenetics for students of undergraduate and graduate studies of Master’s degree in
        Molecular Biology at the Faculty of Science and doctorate study of Biology at the University of Zagreb.
        <br>
        <b>vzoldos@zg.biol.pmf.hr</b>
    </p>
</div>

<div class="lab-member-bio m-a-l">
    <h1>Aleksandar Vojta</h1>
    <p>Aleksandar Vojta obtained his Ph.D. (dr. rer. nat.) in 2006 from Ludwig-Maximilians-Universität in Munich,
        Germany, in the field of cell biology, with a focus on protein import into chloroplasts. He came back to Croatia
        and was working from 2007 to 2012 at the Faculty of Veterinary Medicine, University of Zagreb, where he obtained
        his second Ph.D. in Veterinary sciences. He joined Zoldoš Lab in 2012 working as a senior researcher on
        Horizon2020 Regional Potential Project Integra-Life. In 2015, he was appointed assistant professor at the
        University of Zagreb, Faculty of Science, where he teaches courses in Cell biology, Genetic engineering,
        Genetics and Population genetics for undergraduate and graduate students of Master’s degree in Molecular
        Biology. His main research focus is a design of molecular tools for epigenome editing and gene regulation based
        on CRISPR/Cas9 technology and development of a transient system HEK293FreeStyle for IgG production.
        <br>
        <b>vojta@biol.pmf.hr</b>
    </p>
</div>
