.research-post {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.specifications{
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  text-align: center;
}

h1,h2,h3 {
  font-family: helvetica;
}
