.image-wrapper {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  cursor: pointer;
}


.main {
  height: 200px;
  border-bottom: 3px solid #323037;
  margin-top: 65px;
}

.b-b {
  border-bottom:2px solid #323037;
}



.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0;
  &.active-gallery {
    opacity: 0.8;
    pointer-events: all;
  }
}



@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}
