/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/

/* Fonts
 *============================================================================*/

@font-face {
  font-family: 'Futura';
  src: url("assets/fonts/FuturaLT.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Particle';
  src: url("assets/fonts/Particle-Regular.otf");
  font-weight: normal;
}

/* HTML
 *============================================================================*/

html {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Futura', sans-serif;
}


/* Body
 *============================================================================*/

body {
  background-color: var(--light-theme);
}



/* Headings
 *============================================================================*/
h1 {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}

 h2, h3, h4, h5 {
  line-height: 1.4;
  font-weight: normal;
  font-family: "NeutraText-Book", sans-serif;
}

h1 { font-size: 50px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
