/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/

/* Fonts
 *============================================================================*/

@font-face {
  font-family: 'Gotham Book';
  src: url("assets/fonts/Gotham-Book.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'NeutraText-Book';
  src: url("assets/fonts/NeutraText-Book.otf");
  font-weight: normal;
}

/* HTML
 *============================================================================*/

html {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'NeutraText-Book', sans-serif;
}


/* Body
 *============================================================================*/

body {
  background-color: var(--light-theme);
}



/* Headings
 *============================================================================*/
h1, h2, h3, h4, h5  {
  font-family: "Gotham Book", sans-serif;
  text-transform: uppercase;
}

 h2, h3, h4, h5 {
  line-height: 1.4;
  font-weight: normal;
  font-family: "NeutraText-Book", sans-serif;
}

h1 { font-size: 50px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
