<div class="main flex jc-center ai-center">
    <div class="col-5 c-light z-index ta-center">
        <h1>Publications</h1>
    </div>
</div>
<section class="m-y-xl">
    <div class="grid">
        <div class="col-12 ta-center">
            <h2>Publications</h2>
        </div>
        <div class="col-8 flex fw-wrap">
            <p class="publication"><span class="name">Lorem ipsum dolor</span><b> Lorem ipsum dolor sit amet</b> <br> <span> consectetur adipiscing elit</span></p>
            <a href="" class="link">Publication</a>
        </div>
    </div>
</section>
