.main {
  height: 100vh;
  background-image: url("../../../../assets/images/publications.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -65px;
}


.publication {
  width: 100%;
}
