<div class="main flex jc-center ai-center">
    <div class="col-5 c-light z-index ta-center">
        <h1>{{page.title}}</h1>
    </div>
</div>
<section class="m-y-xl">
    <div class="grid">
        <div class="col-12 ta-center">
            <h2>Publications</h2>
        </div>
        <div class="col-8 flex fw-wrap" *ngFor="let item of items$ | async">
            <p class="publication"><span class="name">{{item.name}}</span><b>{{item.title}}</b> <br> <span>{{item.description}}</span></p>
            <a [routerLink]="item.route" class="link">Publication</a>
        </div>
    </div>
</section>
