<div class="main flex jc-center ai-center">
    <h1 class="ta-center b-b">{{page.title}}</h1>
</div>
<section class="m-y-xl">
    <div class="grid">
        <div class="col-12 ta-center">
            <h2>{{page.title}}</h2>
        </div>
        <div class="col-10 flex jc-center pub-wrapper">
            <div class="pub-sidebar m-t-m">
                <select name="" id="" class="pub-select"></select>
            </div>
            <div class="col-8 pub-container m-t-m">
                <div class="year-wrapper" *ngFor="let year of items$ | async">
                    <h2 class="pub-year">{{year.year | json}}</h2>
                <div class="wrapper flex p-x-l fw-wrap" *ngFor="let item of year.publications">
                    <p class="publication"><span class="name">{{item.name}}</span><b>{{item.title}}</b> <br> <span>{{item.description}}</span></p>
                    <a [routerLink]="item.route" class="link">Publication</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
