<div class="main flex jc-center ai-center m-t-m">
    <h1 class="ta-center">{{page.title}}</h1>
</div>

<zg-block-renderer *ngIf="page.blocks" [blocks]="page.blocks"></zg-block-renderer>

<section class="m-y-xl">
    <div class="grid jc-start">
        <div class="col-12 m-y-l ta-center">
        </div>
        <div class="col-4 col-s-6 col-xs-12" *ngFor="let item of items$ | async">
            <a [routerLink]="item.route" class="card">
                <div class="img-wrapper" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
                <div class="news-info ta-left">
                    <h5 class="news-title">{{item.title}}</h5>
                    <div class="flex jc-between ai-center">
                        <p class="news-author m-y-s">{{item.author}}</p>
                        <p class="date">{{item.date}}</p>
                    </div>
                    <p class="news-description" [innerHTML]="item.description | text"></p>
                    <a [routerLink]="item.route" class="news-btn">Read More</a>
                </div>
            </a>
        </div>
    </div>
</section>
