.main {
  height: 500px;
  border-bottom: 3px solid #323037;
}

.b-b {
  border-bottom:2px solid #323037;
}

.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.news-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  color: #696969;
}

.news-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
  max-width: 100%;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.news-description {
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.news-button-wrapper {
  margin-top: auto;
}







/* Mobile styles
 *============================================================================*/

@media (max-width: 600px) {

}
