.main {
  height: 100vh;
  background-image: url("../../../../assets/images/research-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -65px;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #484848;
    opacity: .4;
  }
}

.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/research.jpg");
  height: 100%;
}

.bg-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/research-1.jpg");
  height: 100%;
}


.card {
  cursor: pointer;
  height: 400px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
}

.research-info {
  padding: 20px;
}

.research-title {
  font-weight: 100;
}

.research-author {
  font-size: 18px;
  color: #a2a2a2;
}

.research-description {
  font-size: 16px;
}

.btn-primary {
  outline: none;
  background: #323037;
  color: #ffffff;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
}
