h1, h2, h3, h4, p {
  font-family: helvetica;
}

.main {
  height: 500px;
  border-bottom: 3px solid #323037;
}

.b-b {
  border-bottom:2px solid #323037;
}

.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


.research-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.research-title {
  font-weight: 100;
  font-size: 30px;
}

.research-author {
  font-size: 18px;
  color: #a2a2a2;
}

.research-description {
  font-size: 16px;
}

.btn-primary {
  outline: none;
  background: #323037;
  color: #ffffff;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
}

.research-image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border: 9px solid #868686;
  border-radius: 50%;
}

.research-button-wrapper {
  margin-top: auto;
}
.research-image-block {
  &-wrapper {
    border: 1px solid #323037;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
  }

  &-text {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 65%;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  &-left {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 60%;
    text-align: left;
  }

  &-title {
    color: #484848 !important;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-subtitle {
    font-size: 1.7em;
    color: #aaa;
  }

  &-name {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #aaa;
  }

  &-content {
    color: #666;
    font-size: 15px;
  }

  &-image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.text {
  text-align: left;
}

.even {
  flex-direction: row-reverse;
  text-align: left;
}

.flex-end {
  justify-content: flex-start;
}


.research-btn {
  position: relative;
  border:none;
  outline: none;
  color: #323037;
  font-size: 22px;
  &:before {
    position: absolute;
    width: 0%;
    top: 105%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    color: #323037;
    background: #323037;
    height: 1px;
    transition: all .4s ease-in-out;
  }
  &:after {
    position: absolute;
    width: 0%;
    bottom: 105%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    content: '';
    color: #323037;
    background: #323037;
    height: 1px;
    transition: all .4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover::after {
    width: 100%;
  }
}
