<div class="main flex jc-center ai-center">
    <div class="col-5 c-light z-index ta-center">
        <h1>{{page.title}}</h1>
    </div>
</div>

<zg-block-renderer *ngIf="page.blocks" [blocks]="page.blocks"></zg-block-renderer>

<section class="m-y-xl">
    <div class="grid">
        <div *ngFor="let item of items$ | async" class="col-6 col-s-12">
            <div class="card br-rounded flex">
                <div class="img-wrapper col-5" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
                <div class="research-info col-7 ta-left">
                    <h5 class="research-title">{{item.title}}</h5>
                    <p class="research-author m-y-s">{{item.author}}</p>
                    <p class="research-description" [innerHTML]="item.description | text"></p>
                    <div class="w-full research-button-wrapper flex jc-end">
                        <a [routerLink]="item.route" class="btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

