<section class="m-y-xl images-block">
    <div class="grid p-y-xl jc-around">
        <div class="col-12 ta-center">
            <h1>{{data.title}}</h1>
            <h4 class="info m-t-m m-b-l">{{data.subTitle}}</h4>
        </div>
        <div class="col-5 ta-center flex jc-center" *ngFor="let image of data.galleryImages">
            <div class="wrapper">
                <img [src]="image.image" alt="" class="images-block-image">
                <div class="w-full content-wrapper bg-light flex ai-center jc-center p-y-m">
                    <a routerLink="/news">{{image.title}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
