
.header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 99;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  &-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 40;
    color: black;
  }

  &-logo {
    width: 5%;
    text-align: left;
    z-index: 40;

    img {
      height: 50px;
    }
  }
}

.links {
  margin: 0 10px;
  position: relative;
  transition: all .4s ease-in-out;

  &:hover {
    color: #C71585;
    font-weight: 300;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 105%;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background: #C71585;
    height: 1px;
    transition: all .4s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  &.active {
    font-weight: 300;
    color: 	#C71585 !important;
    border-bottom: 1px solid #C71585;
  }
}





/* Mobile menu styles
 *============================================================================*/

.mobile-menu {
  cursor: pointer;
  height: 30px;
  margin: 0 10px;
  transition: .4s ease-in-out;
  z-index: 23;

  &-line-1 {
    display: block;
    width: 40px;
    transition: all .4s ease-in-out;
    border-top: 1px solid black;
    .active-menu & {
      width: 30px;
      transform: rotate(45deg);
    }
  }

  &-line-2 {
    display: block;
    width: 40px;
    margin: 10px 0;
    transition: all .4s ease-in-out;
    border-top: 1px solid black;
    .active-menu & {
      margin: -3px 0;
      opacity: 0;
    }
  }

  &-line-3 {
    display: block;
    width: 40px;
    transition: all .4s ease-in-out;
    border-top: 1px solid black;
    .active-menu & {
      margin-top: 3px;
      width: 30px;
      transform: rotate(-45deg);
    }
  }

}

.slide-menu {
  position: fixed;
  z-index: 22;
  top: 65px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  width: 100%;
  padding: 20px;
  transition: .7s ease-in-out;
  transform: translateX(150%);

  &-links {
    position: relative;
    color: black;
    width: 100%;
    opacity: 1;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    transform: translateX(100%);
    transition: all .2s, transform 1s;

    &:hover {
      opacity: 1;
    }
  }
}

.active-menu {
  transform: translateX(0);
}



.slide-menu.active-menu {

  .slide-menu-links:nth-child(1) {
    transform: translateX(0%);
  }

  .slide-menu-links:nth-child(2) {
    transform: translateX(0%);
    transition-delay: .1s;
  }
  .slide-menu-links:nth-child(3) {
    transform: translateX(0%);
    transition-delay: .2s;
  }
  .slide-menu-links:nth-child(4) {
    transform: translateX(0%);
    transition-delay: .3s;
  }
  .slide-menu-links:nth-child(5) {
    transform: translateX(0%);
    transition-delay: .3s;
  }
  .slide-menu-links:nth-child(6) {
    transform: translateX(0%);
    transition-delay: .3s;
  }
  .slide-menu-links:nth-child(7) {
    transform: translateX(0%);
    transition-delay: .3s;
  }
  .slide-menu-links:nth-child(8) {
    transform: translateX(0%);
    transition-delay: .3s;
  }
}













.logo-zoldos {
  width: 100px;
  height: 100px;
}
.logo-university{
  width: 80px;
  height: 100px;
}
.logo-biology{
  width: 150px;
  height: 100px;
}

.footer {
  text-align: center;
  background-color: white;
  border-top: 1px solid black;
}
