<header>
    <div class="header">
        <div class="header-logo">
            <a (click)="goTo(['/'])">
                <img src="assets/icons/logo.svg" alt="Zoldos Group Logo">
            </a>
        </div>
        <button class="header-menu">
            <img src="assets/icons/ham-menu.svg" alt="Menu open icon">
        </button>
        <div class="header-links">
            <a
                *ngFor="let link of settings.links"
                (click)="goTo([link.link])"
                routerLinkActive="active"
                class="links"
                [routerLinkActiveOptions]="{exact: true}">
                {{link.title}}
            </a>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <section class="footer">
        <div class="footer-logos m-t-m flex jc-center ai-center">
            <div class="col-12 flex ai-center">
                <div class="flex-1 ta-right">
                    <img class="logo-university" src="assets/icons/university-logo.svg">
                </div>
                <div>
                    <img class="logo-zoldos m-x-m" src="assets/icons/logo.svg">
                </div>
                <div class="flex-1 ta-left">
                    <img class="logo-biology" src="assets/icons/biology-logo.svg">
                </div>
            </div>
        </div>
        <div class="col-12 ta-center">
            <p class="footer-paragraph m-t-m"><b>Zoldos Lab is a part of Divison for Molecular Biology, Department of
                Biology,</b></p>
            <p class="footer-paragraph m-b-s"><b>Facutly of Science University of Zagreb</b>.</p>
            <a href="https://goo.gl/maps/7HNojfdSQ5DdnUmBA">Horvatovac 102A</a><br>
            <p>10 000 Zagreb, Croatia</p>
            <a class="footer-paragraph m-b-m" href="tel:+38514606260">Tel- +385 1 4606260</a>
            <br>
            <a class="footer-paragraph m-b-l" href="tel:+38514606286">Fax- +385 1 4606286</a>
        </div>
        </section>
</footer>
