<header>
    <div class="header">
        <div class="header-logo">
            <a routerLink="/">
                <img src="assets/icons/logo.svg">
            </a>
        </div>
        <div class="header-links">
            <a *ngFor="let link of settings.links" [routerLink]="[link.link]" routerLinkActive="active"
               class="links" [routerLinkActiveOptions]="{exact: true}">{{link.title}}</a>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <section class="footer">
        <div class="footer-logos m-t-m flex jc-center ai-center">
            <div class="col-4 col-s-12 flex ai-center jc-between">
            <img class="logo-university ai-center" src="assets/icons/university-logo.svg">
            <img class="logo-zoldos ai-center m-x-m" src="assets/icons/logo.svg">
            <img class="logo-biology ai-center" src="assets/icons/biology-logo.svg">
            </div>
        </div>
        <div class="col-12 ta-center">
            <p class="footer-paragraph m-t-m"><b>Zoldos Lab is a part of Divison for Molecular Biology, Department of
                Biology,</b></p>
            <p class="footer-paragraph m-b-s"><b>Facutly of Science University of Zagreb</b>.</p>
            <p>Horvatovac 102A</p>
            <p>10 000 Zagreb, Croatia</p>
            <a href="tel:+38514606260">Tel- +385 1 4606260</a>
            <p class="footer-paragraph m-b-m">Fax. +385 1 4606286</p>
        </div>
        </section>
</footer>
